{% extends '_layout.html' %}

{% block body %}

<div class="l-mini-container">
    <div class="l-section">
        <div class="l-row">
            <h2 class="text-center">Log In</h2>
            <div class="copy variant--box">
                <div class="copy__body">
                    <form method="post" class="l-stack">
                        {% include "_form.html" %}
                        <button type="submit" class="btn">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
