{% extends '_layout.html' %}
{% load i18n %}

{% block body %}

<div class="l-mini-container">
    <div class="l-section">
        <div class="l-row">
            <h2 class="text-center">{% trans 'Create your account' %}</h2>
            <div class="copy variant--box">
                <div class="copy__body">
                    <form method="post" class="l-stack">
                        {% include "partials/_form.html" %}
                        <button type="submit" class="btn-primary">{% trans 'Create your account' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
