{% load i18n %}

<div class="topbar">
    <nav class="topbar__nav l-container" role="navigation" aria-label="{% trans 'Main navigation' %}">
        <ul class="topbar__nav__list">
            <li>
                <a class="copy__body" href="{% url 'home' %}">{% svg_icon 'home' %} {% trans "Home" %}</a>
            </li>
            <li>
                <a class="copy__body" href="{% url 'alarm:home' %}">{% svg_icon 'shield' %} {% trans "Alarm" %}</a>
            </li>
        </ul>

        <ul class="topbar__nav__side">
            {% if request.user.is_authenticated %}
                {{ request.user.first_name }}
            {% else %}
                Please login
            {% endif %}
        </ul>
    </nav>
</div>
