{% extends '_layout.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Camera motion detail' %}
{% endblock title %}


{% block body %}
    <main class="l-container">
        <section class="l-section">
            <div class="l-row">
                <div class="copy variant--box variant--content">
                    <div class="copy__body l-stack">
                        <div class="l-stack-bottom-separator">
                            <h3 class="h5">{% trans 'Device information' %}</h3>
                        </div>
                        <p class="flex items-center">
                            {% svg_icon 'location' %} <span class="l-ml1">{{ motion.device.location }}</span>
                        </p>
                        <p class="flex items-center">
                            {% svg_icon 'server' %} <span class="l-ml1">{% firstof motion.device.name alarm.device.device_type.type %}</span>
                        </p>
                    </div>
                </div>
                <div class="copy variant--box variant--content">
                    <div class="copy__body l-stack">
                        <div class="l-stack-bottom-separator">
                            <h3 class="h5">{% trans 'Motion information' %}</h3>
                        </div>
                        <ul>
                            <p>{{ motion.motion_started_at }} to {{ motion.motion_ended_at }}</p>
                            {% for bounding_box in bounding_boxes %}
                                <p>Score: {{bounding_box.score}}</p>
                            {% endfor %}
                        </ul>
                        {% if picture %}
                        <p>{% trans 'Picture taken when people was detected.' %}</p>
                           <motion-picture
                                   data-picture="{{ picture.motion_started_picture.url }}"
                                   data-bounding-boxes="{{ json_bounding_boxes }}"
                                   data-camera-boxes="{{ json_camera_roi }}"
                           ></motion-picture>
                         {% if picture.motion_ended_picture %}
                            <p>{% trans 'Picture taken when people left.' %}</p>
                            <img src="{{picture.motion_ended_picture.url}}" alt="{% trans 'Motion ended picture.' %}"/>
                          {% else %}
                            <p>{% trans 'No picture was taken when people left. Could happens when the device linked to the camera turn off before people left.' %}</p>
                          {% endif %}
                        {% else %}
                            <p>{% trans 'The system does not have any picture for this event.' %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% assets 'entrypoints/motion-detected.js' %}

{% endblock body %}
