version: "3"
services: 
    db:
        image: postgres
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: mx-example
        volumes:
            - ./psql-data:/var/lib/postgresql/data
        ports:
            - '5432:5432'
