{% extends '_layout.html' %}

{% block header %}
    <h1 class="h3">Alarm ROI</h1>

{% endblock header %}

{% block body %}
    <main class="l-container">
        <div class="box">
            <div class="box__body">
                <form action="" method="post">
                    {{ csrf_input }}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="box">
            <div class="box__body">
                <p>
                    <label>Drawing tool:
                        <select id="dtool">
                            <option value="rect">Rectangle</option>
                            <option value="pencil">Pencil</option>
                        </select>
                    </label>
                </p>
                <div id="container">
                    <canvas id="imageView" width="400" height="300">
                        <p>Unfortunately, your browser is currently unsupported by our web
                        application.  We are sorry for the inconvenience. Please use one of the
                        supported browsers listed below, or draw the image you want using an
                        offline tool.</p>
                        <p>Supported browsers: <a href="http://www.opera.com">Opera</a>, <a
                            href="http://www.mozilla.com">Firefox</a>, <a
                            href="http://www.apple.com/safari">Safari</a>
                    </canvas>
              </div>
              <input
                type="file"
                id="load"
                name="avatar"
                accept="image/jpg" >
            </div>
        </div>
    </main>

    {% assets 'entrypoints/draw-shape.js' %}
{% endblock body %}
