{% extends '_layout.html' %}

{% block header %}
    <h1 class="h3">Camera motion list</h1>

{% endblock header %}

{% block body %}
    <main class="l-container">
        <div class="box">
            <div class="box__body">
                <h2>Camera motion list</h2>
                <ul>
                    {% for motion in motions %}
                        <li>
                            <a href="{{ url('alarm:camera_motion_detected-detail', kwargs={'pk': motion.pk} )}}">
                                {{ motion.created_at }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>

{% endblock body %}
