{% extends '_layout.html' %}

{% block body %}
<div class="l-container">
    <div class="l-section">

        <div class="l-row">

            {% for alarm in alarms %}
            <div class="copy variant--box variant--content">
                <div class="copy__body">
                    <p>
                        Alarm is {{ alarm.running }} on device {{ alarm.device.name }} located in {{ alarm.device.location }}
                    </p>
                </div>
                <div class="copy__cta">
                    <a class="btn" href="{% url 'alarm:status-edit' alarm.pk %}">Change status</a>
                </div>
            </div>
            {% endfor %}

            <div class="copy variant--box">
                <div class="copy__body">
                    {% for alarm in alarms %}
                    <p>
                        Alarm is {{ alarm.running }} on device {{ alarm.device.name }} located in {{ alarm.device.location }}
                    </p>
                    <a href="{% url 'alarm:status-edit' alarm.pk %}">Change status</a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock body %}
