[Unit]
Description=Dumb camera
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/mx-tech-house/smart-camera/app/
ExecStart=/home/pi/mx-tech-house/smart-camera/app/dumb_camera.sh

SyslogIdentifier=dumb_camera
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
