{% extends 'generics/_change_form.html' %}

{% block form_header %}
    <p>Please read the <a href="https://core.telegram.org/bots" target="_blank" rel="noopener noreferrer">telegram bot documentation</a> if something does not work.</p>
    <ol class="l-ml3">
        <li>
            <a href="https://t.me/botfather" target="_blank" rel="noopener noreferrer">Start a conversation with "BotFather</a>
        <li>Create a new bot, by sending to him this message: `/newbot`</li>
        <li>Tada! Get your token <i>("HTTP Api key"), copy it and past it in the input below</i></li>
        <li>Open a new conversation with your bot. BotFather should give you a link.</li>
    </ol>
{% endblock %}
