[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.html]
indent_size = 4

[*.json]
indent_size = 2
insert_final_newline = ignore

[*.yml]
indent_size = 4

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
