{% extends '_layout.html' %}
{% load i18n %}

{% block body %}
    <div class="l-container">
        <div class="l-section l-row">

            <div class="flex justify-between items-center wrap gap-1">
                <h2 class="h4">{% trans 'Your alarms' %}</h2>
                <a class="btn-secondary" href="{% url 'alarm:status-add' %}">
                    {% svg_icon 'plus' 'left' %}
                    <span>
                        {% trans 'New alarm' %}
                    </span>
                </a>
            </div>
            {% include 'partials/_alarm_list.html' %}
        </div>
    </div>
{% endblock body %}
