@import "../helpers/space";

.copy.variant--box {
  --paddingTop: #{space(3)};
  --paddingBottom: #{space(3)};
  --boxBorderRadius: 3px;

  background: var(--background-light);
  box-shadow: var(--box-shadow);
  border-radius: var(--boxBorderRadius);
  overflow: hidden;

  padding-top: var(--paddingTop);
  padding-bottom: var(--paddingBottom);
}
