@import "../helpers/space";

:root {
  --box-padding: #{space(3)};
  --box-border-radius: 8px;
}

%box, .box {
  background: var(--background-light);
  @include box_shadow();
  background-color: #fff;
}

.box--rounded {
  @extend %box;
  border-radius: var(--box-border-radius);
}

.box__body {
  padding: var(--box-padding);
}

.separate-box {
  margin-top: space(6);
}
