.btn {
  --border-radius: 8px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
  padding: space(0.8) space(3);
  font-weight: 400;

  // otherwise it's override by focus form style.
  background-color: var(--buttonBackground)!important;

  border: 1px solid var(--buttonBackground);
  border-radius: var(--border-radius);

  box-shadow: var(--buttonShadow);

  color: var(--buttonColor);
  text-align: center;

  transition: .25s background-color;

  &:hover {
    filter: brightness(90%);
  }

  .icon {
    margin-left: 15px;
  }
}

.btn-transparent {
  --buttonBackground: transparent;
  --buttonColor: var(--accentColor);
}


.btn--small {
  padding: space(1) space(2);
  font-size: .9rem;
}
