<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Mx tech house{% endblock %}</title>
    {% assets 'entrypoints/app.js' %}
</head>
{# class="theme-dark" #}
<body>
    <div class="main-wrapper">
        {% include "partials/_topbar.html" %}
        <div class="main-page">
            {% block body %}{% endblock %}
        </div>

        <div id="app"></div>

        <footer class="main-footer">
            <div class="l-container">
                <div class="l-row">
                    <theme-choice></theme-choice>
                </div>
            </div>
        </footer>

    </div>

    <script>
        window.CSRF = "{{ csrf_token }}"
        window.SPRITE = '/public/svg/sprite.svg'
    </script>
</body>
</html>
