<p class="flex items-center">
    {% if alarm.running %}
        {% svg_icon 'shield' %} <span class="l-ml1">Alarme activée</span>
    {% else %}
        {% svg_icon 'shield-exclamation' %} <span class="l-ml1">Alarme désactivée</span>
    {% endif %}
</p>
<p class="flex items-center">
    {% svg_icon 'location' %} <span class="l-ml1">{{ alarm.device.location }}</span>
</p>
<p class="flex items-center">
    {% svg_icon 'server' %} <span class="l-ml1">{% firstof alarm.device.name alarm.device.device_type.type %}</span>
</p>

{% if alarm.get_next_on_schedule or alarm.get_next_off_schedule %}
    <div class="flex items-center">
        {% svg_icon 'clock' %}
        <div class="flex flex-col l-ml1">
            {% if alarm.running == False and alarm.get_next_on_schedule %}
                <span>L'alarme va s'allumer à {{ alarm.get_next_on_schedule.start_time }}</span>
            {% endif %}

            {% if alarm.running and alarm.get_next_off_schedule %}
                <span>L'alarme va s'éteindre à {{ alarm.get_next_off_schedule.end_time }}</span>
            {% endif %}

            {% if see_schedules is not False %}
                <a href="{% url 'alarm:status-schedules' alarm.pk %}">Voir les plannings</a>
            {% endif %}
        </div>
    </div>
{% endif %}
