{% load i18n %}

<p class="flex items-center">
    {% if alarm.running %}
        {% svg_icon 'shield' %} <span class="l-ml1">Alarme activée</span>
    {% else %}
        {% svg_icon 'shield-exclamation' %} <span class="l-ml1">Alarme désactivée</span>
    {% endif %}
</p>
<p class="flex items-center">
    {% svg_icon 'location' %} <span class="l-ml1">{{ alarm.device.location }}</span>
</p>
<p class="flex items-center">
    {% svg_icon 'server' %} <span class="l-ml1">{% firstof alarm.device.name alarm.device.device_type.type %}</span>
</p>

<p class="flex items-center">
    {% svg_icon 'camera' %}
    <a class="l-ml1" href="{% url 'camera:stream-detail' alarm.pk %}">{% trans 'Live stream' %}</a>
</p>

{% if alarm.alarm_schedules.all %}
    <div class="flex items-center">
        {% svg_icon 'clock' %}
        <div class="flex flex-col l-ml1">
            {% if alarm.running == False and alarm.get_next_on_schedule %}
                <span>L'alarme va s'allumer à {{ alarm.get_next_on_schedule.start_time }}</span>
            {% endif %}

            {% if alarm.running and alarm.get_next_off_schedule %}
                <span>L'alarme va s'éteindre à {{ alarm.get_next_off_schedule.end_time }}</span>
            {% endif %}

            {% if see_schedules is not False %}
                <a href="{% url 'alarm:status-detail' alarm.pk %}">Voir les plannings</a>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="flex items-center">
        {% svg_icon 'clock' %}
        <div class="flex flex-col l-ml1">
            <a href="{% url 'alarm:schedule-add'%}">{% trans "Create schedule" %}</a>
        </div>
    </div>
{% endif %}

{% if alarm.device.camera_motions.all %}
    <div class="flex items-center">
        {% svg_icon 'eye' %}
        <div class="flex flex-col l-ml1">
            <a href="{% url 'device:camera-motion-list' alarm.device.pk %}">See linked motions</a>
        </div>
    </div>
{% endif %}
