{% load i18n %}

<div class="l-row alarms">
    {% for camera in cameras %}
        <div class="copy variant--box variant--content">
            <div class="copy__body l-stack">
                <p class="flex items-center">
                    {% svg_icon 'location' %} <span class="l-ml1">{{ camera.device.location }}</span>
                </p>
            </div>
            <div class="copy__footer flex items-end">
                <div class="copy__cta">
                    <a class="btn-secondary" href="{% url 'camera:stream-detail' camera.pk %}">{% trans 'Live stream' %}</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
