{% load i18n %}

<div class="topbar">
    <nav class="topbar__nav l-container" role="navigation" aria-label="{% trans 'Main navigation' %}">
        <ul class="topbar__nav__list">
            <li>
                <a class="copy__body" href="{% url 'home' %}">{% svg_icon 'home' %} {% trans "Home" %}</a>
            </li>
            <li>
                <a class="copy__body" href="{% url 'alarm:home' %}">{% svg_icon 'shield' %} {% trans "Alarm" %}</a>
            </li>
            <li>
                <a class="copy__body" href="{% url 'configuration' %}">{% svg_icon 'cog' %}{% trans "Configuration" %}</a>
            </li>
        </ul>

        <ul class="topbar__nav__side">
            {% if request.user.is_authenticated %}
                <li>
                    <p class="copy__body">{{ request.user.first_name }}</p>
                </li>
                <li>
                    <a class="copy__body" href="{% url 'logout' %}">Logout <span class="l-ml1">{% svg_icon 'logout' %}</span></a>
                </li>
            {% else %}
                <li>
                    <a class="copy__body" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
