{% extends '_layout.html' %}
{% load i18n %}

{% block title %}
    Camera motion detail
{% endblock title %}


{% block body %}
    <main class="l-container">
        <section class="l-section">
            <div class="l-row">
                <div class="copy variant--box variant--content">
                    <div class="copy__body l-stack">
                        <div class="l-stack-bottom-separator">
                            <h3 class="h5">{% trans 'Device information' %}</h3>
                        </div>
                        <p class="flex items-center">
                            {% svg_icon 'location' %} <span class="l-ml1">{{ motion.device.location }}</span>
                        </p>
                        <p class="flex items-center">
                            {% svg_icon 'server' %} <span class="l-ml1">{% firstof motion.device.name alarm.device.device_type.type %}</span>
                        </p>
                    </div>
                </div>
                <div class="copy variant--box variant--content">
                    <div class="copy__body l-stack">
                        <div class="l-stack-bottom-separator">
                            <h3 class="h5">{% trans 'Motion information' %}</h3>
                        </div>
                        <ul>
                            <p>{{ motion.motion_started_at }} to {{ motion.motion_ended_at }}</p>
                            {% if not picture %}
                                We do not have any picture for this motion.
                            {% endif %}
                        </ul>
                        {% if picture %}
                            <motion-picture
                                    data-picture="{{ picture.motion_started_picture.url }}"
                                    data-bounding-boxes="{{ bounding_boxes }}"
                                    data-camera-boxes="{{ camera_roi }}"
                            ></motion-picture>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% assets 'entrypoints/motion-detected.js' %}

{% endblock body %}
