{% extends '_layout.html' %}

{% block title %}
    Camera motion detail
{% endblock title %}


{% block body %}
    <main class="l-container">
        <section class="l-section">
            <div class="l-row">
                <div class="copy variant--box variant--content">
                    <div class="copy__body l-stack">
                        <h2>Camera motion detected</h2>
                        <ul>
                            <p>{{ motion.motion_started_at }} to {{ motion.motion_ended_at }}</p>
                            {% if not picture %}
                                We do not have any picture for this motion.
                            {% endif %}
                        </ul>
                        {% if picture %}
                        <motion-picture
                                data-picture="{{ picture.motion_started_picture.url }}"
                                data-bounding-boxes="{{ bounding_boxes }}"
                                data-camera-boxes="{{ camera_roi }}"
                        ></motion-picture>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% assets 'entrypoints/motion-detected.js' %}

{% endblock body %}
