.theme-dark %input-color {
  --input-background: var(--background);
  --input-background-active: var(--background);
}

%input-color {
  --input-background: var(--background-light);
  --input-background-active: var(--background-light);
}

.form-group input,
.form-group textarea,
.choices__inner,
.form-group select,
%input {
  @extend %input-color;
  border: 1px solid var(--border);
  border-radius: 3px;
  color: var(--color);
  padding: space(1.5) space(1);
  display: block;
  width: 100%;
  outline: none;
  min-height: 44px;
  background-color: var(--input-background);
}

.form-group {
  label {
    display: block;
    margin-bottom: space(1);
  }
}

/**
 * Accessibility
 */
.form-group input:focus,
.form-check input:focus + label::before,
select:focus,
textarea:focus,
form button:focus,
input:focus + label .switch,
%input-active {
  border-color: var(--contrast);
  box-shadow: 0 0 0 3px var(--contrast-light);
  background-color: var(--input-background-active);
}

.form-errors svg {
  width: 18px;
  height: 18px;
}

.form-errors {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-gap: space(1.5);
  color: var(--red);
}

// Switch
// ==================
.form-switch {
  position: relative;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    min-height: auto;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 0 !important;
  }
}
.switch {
  flex: none;
  width: 50px;
  height: 23px;
  display: inline-block;
  background: var(--background);
  border: 1px solid var(--border);

  border-radius: 100px;
  margin-right: space(1);
  transition: background .2s ease-in;

  &::before {
    content: '';
    display: block;
    height: 21px;
    width: 21px;
    background: var(--background-light);
    border: 1px solid var(--border);
    box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
    border-radius: 100px;
    transition: transform .2s ease-in;
  }
}
input:checked + label .switch {
  background-color: var(--contrast);
}

input:checked + label .switch::before {
  transform: translateX(28px);
}
